<%- include('headers') -%>
<table>
    <tr>
        <td> User Id :</td>
        <td> 
            <%= records.userId %>
        </td>
    </tr><br>
    <tr>
        <td>Id</td>
        <td>
            <%= records.id %>
        </td>
    </tr><br>
    <tr>
        <td> title</td>
        <td>
            <%= records.title %>
        </td>
    </tr><br>
    <tr>
        <td>Body</td>
        <td> 
            <%= records.body %>
        </td>
    </tr>
</table><br>